# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
/src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
/src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
/src/generated/resources/data/magical_industry/forge/biome_modifier/add_magic_ore.json
/src/generated/resources/data/minecraft/tags/blocks/mineable/axe.json
/src/generated/resources/.cache/b3166d04ed9bdb9a6b974129a15dddf9a295e357
/src/generated/resources/assets/magical_industry/models/item/basic_tech_wand.json
/src/generated/resources/data/magical_industry/advancements/recipes/tools/basic_tech_wand.json
/src/generated/resources/data/magical_industry/recipes/basic_tech_wand.json
/src/generated/resources/assets/magical_industry/models/item/corrupted_mana_dust.json
/src/generated/resources/data/magical_industry/recipes/fuel_rate/corrupted_mana_dust_fuel.json
/src/generated/resources/.cache/dbd381c39842e13af0644297d1df430b1be18ca3
/src/generated/resources/.cache/dca38778a1824d2f4e451ba265a1b21c8d1be560
/run-data/logs/debug.log
/src/generated/resources/assets/magical_industry/blockstates/deepslate_magic_ore.json
/src/generated/resources/assets/magical_industry/models/block/deepslate_magic_ore.json
/src/generated/resources/assets/magical_industry/models/item/deepslate_magic_ore.json
/src/generated/resources/data/magical_industry/loot_tables/blocks/deepslate_magic_ore.json
/src/generated/resources/.cache/e09eb003cd59c5fb1e7845ad1b43a685d014d1ae
/run-data/config/jei/jei-client.ini
/run-data/config/jei/jei-colors.ini
/run-data/config/jei/jei-debug.ini
/run-data/config/jei/jei-mod-id-format.ini
/run-data/logs/latest.log
/.vscode/launch.json
/src/generated/resources/assets/magical_industry/blockstates/magic_ore.json
/src/generated/resources/assets/magical_industry/models/block/magic_ore.json
/src/generated/resources/assets/magical_industry/models/item/magic_ore.json
/src/generated/resources/data/magical_industry/loot_tables/blocks/magic_ore.json
/src/generated/resources/data/magical_industry/worldgen/configured_feature/magic_ore.json
/src/generated/resources/data/magical_industry/worldgen/placed_feature/magic_ore_placed.json
/src/generated/resources/data/magical_industry/tags/items/mana.json
/src/generated/resources/assets/magical_industry/blockstates/mana_block.json
/src/generated/resources/assets/magical_industry/models/block/mana_block.json
/src/generated/resources/assets/magical_industry/models/item/mana_block.json
/src/generated/resources/data/magical_industry/advancements/recipes/misc/mana_block.json
/src/generated/resources/data/magical_industry/loot_tables/blocks/mana_block.json
/src/generated/resources/data/magical_industry/recipes/mana_block.json
/src/generated/resources/assets/magical_industry/blockstates/mana_crafting_table.json
/src/generated/resources/assets/magical_industry/models/item/mana_crafting_table.json
/src/generated/resources/data/magical_industry/advancements/recipes/building_blocks/mana_crafting_table.json
/src/generated/resources/data/magical_industry/loot_tables/blocks/mana_crafting_table.json
/src/generated/resources/data/magical_industry/recipes/mana_crafting_table.json
/src/generated/resources/assets/magical_industry/models/item/mana_debug_tool.json
/src/generated/resources/assets/magical_industry/models/item/mana_dust.json
/src/generated/resources/data/minecraft/advancements/recipes/misc/mana_dust_from_ingot.json
/src/generated/resources/data/minecraft/recipes/mana_dust_from_ingot.json
/src/generated/resources/data/magical_industry/recipes/fuel_rate/mana_dust_fuel.json
/src/generated/resources/assets/magical_industry/blockstates/mana_generator.json
/src/generated/resources/data/magical_industry/advancements/recipes/misc/mana_generator.json
/src/generated/resources/data/magical_industry/loot_tables/blocks/mana_generator.json
/src/generated/resources/data/magical_industry/recipes/mana_generator.json
/src/generated/resources/assets/magical_industry/models/item/mana_ingot.json
/src/generated/resources/data/magical_industry/advancements/recipes/misc/mana_ingot.json
/src/generated/resources/data/magical_industry/recipes/mana_ingot.json
/src/generated/resources/data/minecraft/advancements/recipes/misc/mana_ingot_from_block.json
/src/generated/resources/data/minecraft/recipes/mana_ingot_from_block.json
/src/generated/resources/data/minecraft/tags/blocks/needs_diamond_tool.json
/src/generated/resources/data/minecraft/tags/blocks/needs_iron_tool.json
/src/generated/resources/data/forge/tags/blocks/needs_netherite_tool.json
/src/generated/resources/data/minecraft/tags/blocks/needs_stone_tool.json
/src/generated/resources/data/minecraft/tags/blocks/mineable/pickaxe.json
/.vscode/tasks.json
/src/generated/resources/data/magical_industry/recipes/mana_recipes/mana_fuel/fuel_corrupted_mana_dust.json
/src/generated/resources/data/magical_industry/recipes/mana_recipes/mana_fuel/fuel_mana_dust.json
/src/generated/resources/data/magical_industry/recipes/mana_recipes/mana_fuel/fuel_mana_ingot.json
/src/generated/resources/data/magical_industry/loot_tables/blocks/mana_conduit.json
/src/generated/resources/data/magical_industry/loot_tables/blocks/modular_machine.json
/src/main/java/com/github/nalamodikk1.zip
/src/generated/resources/data/magical_industry/loot_tables/blocks/solar_mana_collector.json
