# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/.gitattributes
/.github/workflows/build.yml
/TEMPLATE_LICENSE.txt
/src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
/src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
/src/generated/resources/data/koniava/advancement/recipes/building_blocks/andesite_slab_from_stonecutting.json
/src/generated/resources/data/koniava/recipe/andesite_slab_from_stonecutting.json
/src/generated/resources/.cache/b3166d04ed9bdb9a6b974129a15dddf9a295e357
/src/generated/resources/assets/koniava/models/item/basic_tech_wand.json
/src/generated/resources/data/koniava/advancement/recipes/tools/basic_tech_wand.json
/src/generated/resources/data/koniava/recipe/basic_tech_wand.json
/src/generated/resources/assets/koniava/models/item/corrupted_mana_dust.json
/src/generated/resources/.cache/dbd381c39842e13af0644297d1df430b1be18ca3
/src/generated/resources/.cache/dca38778a1824d2f4e451ba265a1b21c8d1be560
/src/generated/resources/assets/koniava/blockstates/deepslate_magic_ore.json
/src/generated/resources/assets/koniava/models/block/deepslate_magic_ore.json
/src/generated/resources/assets/koniava/models/item/deepslate_magic_ore.json
/src/generated/resources/data/koniava/loot_table/blocks/deepslate_magic_ore.json
/src/generated/resources/.cache/e09eb003cd59c5fb1e7845ad1b43a685d014d1ae
/src/generated/resources/assets/koniava/blockstates/magic_ore.json
/src/generated/resources/assets/koniava/models/block/magic_ore.json
/src/generated/resources/assets/koniava/models/item/magic_ore.json
/src/generated/resources/data/koniava/loot_table/blocks/magic_ore.json
/src/generated/resources/data/koniava/tags/item/mana.json
/src/generated/resources/assets/koniava/blockstates/mana_block.json
/src/generated/resources/assets/koniava/models/block/mana_block.json
/src/generated/resources/assets/koniava/models/item/mana_block.json
/src/generated/resources/data/koniava/advancement/recipes/misc/mana_block.json
/src/generated/resources/data/koniava/loot_table/blocks/mana_block.json
/src/generated/resources/data/koniava/recipe/mana_block.json
/src/generated/resources/assets/koniava/blockstates/mana_crafting_table.json
/src/generated/resources/data/koniava/advancement/recipes/building_blocks/mana_crafting_table.json
/src/generated/resources/data/koniava/loot_table/blocks/mana_crafting_table.json
/src/generated/resources/data/koniava/recipe/mana_crafting_table.json
/src/generated/resources/assets/koniava/models/item/mana_debug_tool.json
/src/generated/resources/assets/koniava/models/item/mana_dust.json
/src/generated/resources/data/minecraft/advancement/recipes/misc/mana_dust_from_ingot.json
/src/generated/resources/data/minecraft/recipe/mana_dust_from_ingot.json
/src/generated/resources/assets/koniava/models/item/mana_ingot.json
/src/generated/resources/data/koniava/advancement/recipes/misc/mana_ingot.json
/src/generated/resources/data/koniava/recipe/mana_ingot.json
/src/generated/resources/data/minecraft/advancement/recipes/misc/mana_ingot_from_block.json
/src/generated/resources/data/minecraft/recipe/mana_ingot_from_block.json
/src/generated/resources/data/minecraft/tags/block/needs_iron_tool.json
/src/generated/resources/data/koniava/advancement/recipes/tools/netherite_axe_smithing.json
/src/generated/resources/data/koniava/recipe/netherite_axe_smithing.json
/src/generated/resources/data/minecraft/tags/block/mineable/pickaxe.json
/src/generated/resources/data/koniava/recipe/blaze_rod_fuel.json
/src/generated/resources/data/koniava/recipe/coal_fuel.json
/src/generated/resources/data/koniava/recipe/corrupted_mana_dust_fuel.json
/src/generated/resources/data/koniava/recipe/mana_dust_fuel.json
/src/generated/resources/data/koniava/advancement/recipes/misc/mana_generator.json
/src/generated/resources/data/koniava/recipe/mana_generator.json
/src/generated/resources/data/koniava/recipe/mana_ingot_fuel.json
/src/main/java/com/github/nalamodikk.zip
/src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
/src/generated/resources/data/koniava/neoforge/biome_modifier/add_magic_ore.json
/src/generated/resources/data/koniava/worldgen/configured_feature/magic_ore.json
/src/generated/resources/data/koniava/worldgen/placed_feature/magic_ore.json
/src/generated/resources/data/koniava/recipe/mana_recipes/mana_crafting/mana_dust.json
/src/generated/resources/data/koniava/loot_table/blocks/solar_mana_collector.json
/src/generated/resources/assets/koniava/models/item/condensed_mana_dust.json
/src/generated/resources/assets/koniava/models/item/efficiency_upgrade.json
/src/generated/resources/assets/koniava/models/item/mana_crystal_fragment.json
/src/generated/resources/assets/koniava/models/item/raw_mana_dust.json
/src/generated/resources/assets/koniava/models/item/speed_upgrade.json
/src/generated/resources/data/c/tags/item/mana.json
